body,
input,
textarea,
button
{
    font-family: 'Meiryo', 'メイリオ', 'ＭＳ Ｐゴシック',
    'Osaka-Mono', 'Monospace', 'Helvetica', 'Arial', sans-serif;
}

header > h2
{
    margin-bottom: 5px;
}

nav
{
    margin-bottom: 1em;
}

fieldset
{
    margin: 1em auto;

    border-width: 1px solid;
    border-radius: 5px;
}

ul
{
    list-style-type: none;
}

#config_change
{
    position: fixed;
    top: 50px;

    width: 100px;

    text-align: center;
}

#config_page
{
    position: relative;
    left: 120px;

    max-width: 1200px;
}

.change_bar
{
    width: 3px;

    background-color: gray;
}

.word_of_warning
{
    font-weight: bold;

    margin-left: 25px;

    color: red;
}

#sample_url
{
    width: 472px;
}

textarea[ng-model='options.exclude_url']
{
    float: left;
}

div.otherTitle
{
    clear: both;
}

div#history_date_list
{
    position: absolute;
    left: -1em;

    overflow: auto;

    width: 120px;
    height: 400px;
    margin-top: 12px;
}

/* ツールチップ*/
div.tooltip > div.tooltip
{
    display: none;

    max-width: 550px;
    margin-left: 8px;
    padding: 2px 3px;
}

div.tooltip:hover > div.tooltip
{
    position: absolute;

    display: inline;

    color: #6c6c6c;
    border: 1px solid #ccc;
    background: #fff;
}

/* 正規表現ツール */
[ng-controller='RegexToolController']
{
    position: fixed;
    /* transition: 1.0s ease 0.0s; */
    top: 100%;

    padding: 10px;

    background-color: lightcyan;
}

[ng-controller='RegexToolController'].show
{
    transform: translate(0, -400px);
}

[ng-controller='RegexToolController'] button
{
    position: absolute;
    right: 1%;
}
