body, input {
    font-family: "Meiryo", "メイリオ", "ＭＳ Ｐゴシック",
    "Osaka-Mono", "Monospace", "Helvetica", "Arial", sans-serif;
}

header > h2 {
    margin-bottom: 5px;
}

nav {
    margin-bottom: 1em;
}

fieldset {
    border-width: 1px solid;
    border-radius: 10px;
    margin: 1em auto;
}

ul {
    list-style-type: none;
}

.word_of_warning {
    font-weight: bold;
    color: red;
    margin-left: 25px;
}

input[name="release_url"] {
    width: 700px;
}

#sample_url {
    width: 472px;
}

textarea[name="exclude_url"] {
    float: left;
}

div.otherTitleText {
    clear: both;
}

/* ツールチップ*/
div.tooltip > div.tooltip {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    max-width: 550px;
}

div.tooltip:hover > div.tooltip {
    display: inline;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #6c6c6c;
}
