// common.
$default-text-color:     #212121;

// options.
$primary-color:          #2196F3;
$light-primary-color:    #BBDEFB;
$input-border-color:     #727272;

// blank
$primary-color-in-blank: #03A9F4;

// popup
$box-shadow-color:       #727272;
