// compass.
@import "compass/css3/text-shadow";
@import "compass/typography/vertical_rhythm";

// myFiles.
@import "basecolors";

$base-font-size:       16px;
$base-line-height:     24px;
$rhythm-unit:          "rem";
$rem-with-px-fallback: true;
@include establish-baseline;

@mixin textColorAndShadow($rgb) {
    @include single-text-shadow(0, 0, 1px, false, rgba($rgb, .1));

    color: rgba($rgb, 1);
}

@mixin textStyleLikeAdobe($rgb) {
    @include textColorAndShadow($rgb);

    font-smoothing: antialiased;
}

@mixin blockCentering {
    margin: 0 auto;
}

@mixin border0 {
    border: 0;
}

@mixin notShow {
    display: none;
}

@mixin ellipsis_over($width: 100%) {
    width:        $width;
    display:      table;
    table-layout: fixed;
}

@mixin flex-align-baseline($lines: 0) {
    @include display-flex;
    @include flex-basis($base-line-height);
    @include align-items(center);
    @include rhythm-padding($lines);
}

@mixin min-height($val) {
    min-height: $val;
    height: auto !important;
    height: $val;
}

@each $prefix in 16, 19 {
    .icon#{$prefix} {
        width:  #{$prefix}px;
        height: #{$prefix}px;
    }
}

html, body, input, textarea, button {
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ÉqÉâÉMÉmäpÉS ProN W3", Meiryo, "ÉÅÉCÉäÉI", Osaka, 'MS PGothic', sans-serif;
    @include textStyleLikeAdobe($default-text-color);
}
