// compass.
@import "compass/reset";
@include global-reset;

@import "compass/typography/vertical_rhythm";
@import "compass/css3/box-sizing";
@import "ellipsis.scss";

// myfiles.
@import "common.scss";
@import "basecolors";

@each $prefix in 16 {
    .icon#{$prefix} {
        @include setWidthAndHeight(#{$prefix}px);
    }
}

body {
    @include blockCentering;

    // @include debug-vertical-alignment;
    @include adjust-font-size-to(16px, 1);

    text-align: center;
    width: 60vw;
}

#page_info {
    @include rhythm-margins(3, 0);
    @include box-sizing(border-box);
}

#titlePlace {
    @include adjust-font-size-to(18px, 1);
    @include box-sizing(border-box);
    background-color: $primary-color-in-blank;
    font-weight:      bold;
}

#url {
    background-color: $light-primary-color;
    @include box-sizing(border-box);
}

#message {
    @include rhythm-margins(1, 0);
}

.ellipsis_over {
    @include ellipsis_over;
}

.doNotShow {
    @include notShow;
}
