@import "import/common.scss";

$primary-color:       #2196F3;
$light-primary-color: #BBDEFB;
$input-border-color:  #727272;
$main-field-width:    95vw;

@each $prefix in 16, 19, 24 {
    .icon#{$prefix} {
        @include setWidthAndHeight(#{$prefix}px);

        position: relative;
        top:      3px;
    }
}

.saveIcon {
    transform: rotate(45deg);
}

.border0 {
    @include border0;
}

.doNotShow {
    @include notShow;
}

.prototype {
    @include notShow;
}

.showBlock {
    display: block;
}

a {
    &:link {
        @include textColorAndShadow(rgb(0, 0, 255));
    }

    &:visited {
        @include textColorAndShadow(rgb(128, 0, 128));
    }

    &:hover, &:active {
        @include textColorAndShadow(rgb(255, 0, 0));
    }
}

ul {
    margin: 0 1rem;
    padding: 0;

    list-style: none;
}

input, textarea {
    border:     thin solid $input-border-color;
    box-sizing: border-box;
}

.mainNav {
    @include blockCentering;

    display:        flex;
    flex-direction: row;
    width:          $main-field-width;
    box-sizing:     border-box;

    button {
        width: 100%;
    }
}

.sectionButton {
    @extend .border0;

    padding:          1rem 0;
    background-color: $primary-color;

    &:hover, &.select {
        background-color: $light-primary-color;
        font-weight:      bold;
    }
}


.sectionMenu {
    @include blockCentering;

    width:   $main-field-width;
    padding: 1rem 0;

    background-color: #fff;
    box-shadow:       0 3px 3px 0 $input-border-color;
    box-sizing:       border-box;

    li {
        margin: 0.5rem;
    }
}

.keyOption {
    display: flex;
}

.keybindTitle {
    width: 300px;
}

$dateListWidth: 15%;

#dateListNav {
    display:        flex;
    flex-direction: row;
    margin:         auto 1rem;
    box-sizing:     border-box;

    > div {
        margin: 0 1rem;
    }
}

.dateList {
    width:          $dateListWidth;
    display:        flex;
    flex-direction: column;
    box-sizing:     border-box;
    text-align:     center;
}

.dateListStyle {
    display:        flex;
    flex-direction: column-reverse;
    align-itrems:    stretch;

    div {
        padding:          1rem;
        box-shadow:       0 0 1px 0 $default-text-color;
        background-color: $light-primary-color;

        &:hover, &:active, &.select {
            background-color: $primary-color;
            font-weight:      bold;
        }
    }
}

.dateListMenu {
    width:          100% - $dateListWidth;
    display:        flex;
    flex-direction: column;

    section {
        border-bottom: 1rem;
    }
}

.controlBar {
    display:          flex;
    padding:          10px;
    background-color: $light-primary-color;
    box-sizing:       border-box;
}

.control {
    margin-left: auto;
}

.searchHistory {
    display:         flex;
    justify-content: center;
    flex-basis:      auto;
}

#searchHistoryDate {
    width: 10rem;
}

#searchHistoryItem {
    width: 60%;
}

#information section {
    margin: 0 0 0.5rem 1rem;
}

.historyField {
    @include border0;

    margin: 1rem;
}

.historyStyle {
    margin-bottom: 0.5rem;
    padding:       0.3rem;

    box-shadow: 0 0 1px 0 $default-text-color;
}

.ellipsis_over {
    @include ellipsis_over;
}

.ellipsis_inner {
    @include ellipsis_inner;
}

#change_history {
    padding:   1rem;

    div {
        font-size:   0.75rem;
        height:      80vh;
        overflow:    auto;
        white-space: pre;
    }
}

.importAndExport {
    display:     flex;
    align-itrems: stretch;
    margin:      0 1rem;

    * {
        box-sizing: border-box;
    }
    
    > div {
        @include blockCentering;

        width:          49%;
        display:        flex;
        flex-direction: column;
    }
    
    textarea {
        width:      100%;
        height:     50vh;
        margin-top: 0.5rem;
    }
}
