// compass.
@import "compass/reset";
@include global-reset;

@import "compass/css3/flexbox";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/float";
@import "ellipsis.scss";

// myfiles.
@import "basecolors";
@import "common.scss";

$main-field-width:    95vw;

$base-font-size: 14px;
$base-line-height: 24px;
@include establish-baseline;

body {
    // @include debug-vertical-alignment;
    background-color: lightgray;
}

h3 {
    @include adjust-font-size-to(1.5rem, 2);
}

input, button {
    @include rhythm-padding(0);
}

textarea {
    width: 40rem;
    height: $base-line-height * 10;
}

@each $prefix in icon16, icon19 {
    .#{$prefix}_rev {
        @extend .#{$prefix};
        position: relative;
        top:      3px;
    }
}

.saveIcon {
    @include rotate(45deg);
}

.border0 {
    @include border0;
}

.doNotShow {
    @include notShow;
}

.prototype {
    @include notShow;
}

.ellipsis_over {
    @include ellipsis_over;
}

.border-shadow {
    @include border0;
    @include single-box-shadow(0, 0, 1px, 0, $default-text-color);
    @include box-sizing(border-box);
}

.align-baseline {
    @include flex-align-baseline;
}

a {
    &:link {
        @include textStyleLikeAdobe(blue);
    }

    &:visited {
        @include textStyleLikeAdobe(purple);
    }

    &:hover, &:active {
        @include textStyleLikeAdobe(red);
    }
}

ul {
    list-style: none;
}

input, textarea {
    @include box-sizing(border-box);

    border: thin solid $input-border-color;
}

.mainNav {
    @include blockCentering;

    @include rhythm-margins(1, 0);

    @include display-flex;
    @include flex-direction(row);
    @include box-sizing(border-box);
    width: $main-field-width;

    button {
        width: 100%;
    }
}

.sectionButton {
    @include border0;

    @include adjust-leading-to(2);
    background-color: $primary-color;
    @include single-box-shadow(0, 1px, 3px, 0, $input-border-color);

    &:hover, &.select {
        background-color: $light-primary-color;
        font-weight:      bold;
    }
}

.sectionMenu {
    // @include debug-vertical-alignment;
    @include blockCentering;

    @include display-flex;
    @include flex-direction(column);

    @include single-box-shadow(0, 3px, 3px, 0, $input-border-color);
    @include box-sizing(border-box);

    width:   $main-field-width;
    padding: 1rem;
    @include rhythm-padding(1);
    background-color: #fff;
}

.keyOption {
    @include display-flex;
    @include flex-direction(row);
}

.keybindTitle {
    width: 21rem;
}

.keybindExcludeField {
    @include rhythm-margins(1, 0);
}

.searchHistory {
    @include display-flex;
    @include justify-content(center);
    @include flex-basis(auto);
}

#searchHistoryDate {
    width: 10rem;
}

#searchHistoryItem {
    width: 60%;
}

.historyField {
    @include border0;
    @include rhythm-margins(1, 0);

    article {
        padding: 0 1rem;
        @include box-sizing(border-box);
    }
}

$dateListWidth: 15%;

#dateListNav {
    @include display-flex;
    @include flex-direction(row);
    @include box-sizing(border-box);
}

#dateList {
    @include display-flex;
    @include flex-direction(column);
    @include box-sizing(border-box);

    width:          $dateListWidth;
    text-align:     center;
}

.dateListStyle {
    @include display-flex;
    @include flex-direction(column-reverse);
    @include align-items(stretch);

    div {
        @extend .border-shadow;
        background-color: $light-primary-color;

        &:hover, &:active, &.select {
            background-color: $primary-color;
            font-weight:      bold;
        }
    }
}

.dateListMenu {
    @include display-flex;
    @include flex-direction(column);

    width: 100% - $dateListWidth;
    margin-left: 1rem;
}

.controlBar {
    @extend .border-shadow;
    @include display-flex;

    background-color: $light-primary-color;
}

.control {
    margin-left: auto;
}

#change_history {
    @include rhythm-padding(1);

    div {
        @include adjust-font-size-to(12px, 1);
        height:      80vh;
        overflow:    auto;
        white-space: pre;
    }
}

#information {
    section {
        @include display-flex;
        @include flex-direction(column);
        @include rhythm-margins(0, 1);

        &:last-child {
            @include rhythm-margins(0, 0);
        }

        div {
            margin-left: 2rem;
        }
    }
}

.importAndExport {
    @include display-flex;
    @include rhythm-margins(0, 1);
    @include box-sizing(border-box);
    
    > div {
        @include blockCentering;

        @include display-flex;
        @include flex-direction(column);

        width:          49%;
    }
    
    textarea {
        width: 100%;
        height: 50vh;
    }
}
