// compass.
@import "compass/reset";
@include global-reset;

@import "compass/css3/flexbox";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/min";
@import "compass/layout/stretching";

// myOptions.
@import "basecolors";
@import "common.scss";

$font-size: 14px;
$min-width: 22.8571rem; // the base of font is 14px;

body {
    @include adjust-font-size-to($font-size, 1);
    @include min-width($min-width);
}

nav, div {
    @include single-transition(all, 0.5s, ease, 0s);
}

.menu {
    @include display-flex;
    @include flex-direction(row);
    @include rhythm-margins(0.5);
    @include box-sizing(border-box);
}

.mainMenu {
    // @include debug-vertical-alignment;

    position: relative;
    z-index:  2;
    top:      0;
    left:     0;

    width: $min-width;
}

.optionMenu {
    // @include debug-vertical-alignment;

    position: absolute;
    z-index:  1;
    top:      0;
    left:     $min-width;

    width:    $min-width;
}

.option_menu_show {
    @include translateX(-$min-width);
}

div {
    &.btn {
        @include box-sizing(border-box);

        $offset-w: 0.5rem;

        width:         $min-width - 1.1428rem;
        margin-left:   $offset-w;
        margin-right:  $offset-w;
        padding-left:  $offset-w;
        padding-right: $offset-w;

        cursor:     pointer;
        text-align: left;

        &:hover {
            @include single-box-shadow(0, 0, 3px, 1px, $box-shadow-color);
        }

        &:active {
            @include single-box-shadow(0, 0, 1px, 1px, $box-shadow-color, inset);
        }

        img {
            position: relative;
            top: 3px;
        }
    }
}

hr {
    @include rhythm-margins(0.5, 0.5);

    color: white;
    border: none;
    border-top: solid 1px black;
}
