@import "import/common.scss";

$minWidth:         340px;
$inWidth:          $minWidth - 20px;
$box-shadow-color: #727272;

%backgroundColorWhite {
    background-color: #fff;
}

body {
    min-width: $minWidth;
}

nav, div {
    transition: all 0.5s ease 0s;
}

.mainMenu {
    @extend %backgroundColorWhite;

    position: relative;
    z-index:  2;
    top:      0;
    left:     0;

    width: $inWidth;
}

.optionMenu {
    @extend %backgroundColorWhite;

    position: absolute;
    z-index:  1;
    top:      0;
    left:     $minWidth + 10px;

    width:    $inWidth;
}

.option_menu_show {
    transform: translateX(-360px);
}

.icon {
    @include setWidthAndHeight(16px);

    position: relative;
    top:      2px;
    right:    7px;
}

div {
    &.btn {
        width:   $inWidth;
        margin:  5px auto;
        padding: 5px 10px;

        cursor:     pointer;
        text-align: left;

        &:hover {
            box-shadow: 0 1px 8px 1px $box-shadow-color;
        }

        &:active {
            box-shadow: 0 0 1px 1px $box-shadow-color inset;
        }
    }
}

hr {
    margin: 6px 0;

    color: #fff;
    border: none;
    border-top: solid 1px #000;
}
