<!DOCTYPE html>
<html lang="ja" ng-app="options" ng-csp>
  <head>
    <meta charset="UTF-8">
    <title>Tab Memory Purge Options</title>
    <link rel="stylesheet" href="css/lib/angular-csp.css" type="text/css">
    <link rel="stylesheet" href="css/options.css" type="text/css">
  </head>
  <body ng-controller="OptionController">
    <nav id="config_change">
      <table>
        <tr ng-repeat="item in menuItems" ng-click="menuSelect($event)" class="{{ item.name }}">
          <td><span class="change_bar">&nbsp;</span></td>
          <td><span translation="{{ item.name }}"></span></td>
          <td ng-show="item.name === 'session_history'" style="position: absolute; left: 12px;">
            <div ng-show="showRestoreMessage" style="position: relative; color: red; top: 0.2rem; left: 5.75rem;">
              <div class="arrow_animation">
                <div class="arrow"></div>
              </div>
              <div style="position: absolute; top: -0.25rem; left: 0.75rem;"><span translation="if_restore_session_message" style="position: fixed; background-color: white; padding: 6px; font-weight: bold;"></span></div>
            </div>
          </td>
        </tr>
      </table>
    </nav>

    <form>
      <div id="config_page">
        <header>
          <h2><span translation="extName"></span>&nbsp;<span id="menu_title"><span translation="option"></span></span></h2>
        </header>

        <article id="option_items">
          <!-- options of normally. .-->
          <section class="option">
            <fieldset>
              <legend translation="setReleaseFileUrlTitle"></legend>
              <div class="tooltip">
                <label>
                  <input type="radio" ng-model="options.release_page" value="normal"><span translation="in_extension"></span>
                </label>
                <div class="tooltip">
                  <div translation="explanation"></div>
                  <ol>
                    <li><span translation="explanation_merit1"></span></li>
                    <li><span translation="explanation_problem1"></span></li>
                    <li><span translation="explanation_problem6"></span></li>
                  </ol>
                  <div translation="explanation_solution"></div>
                </div>
              </div>

              <div class="tooltip">
                <label>
                  <input type="radio" ng-model="options.release_page" value="author"><span translation="author"></span>
                </label>
                <div class="tooltip">
                  <div translation="explanation"></div>
                  <ol>
                    <li><span translation="explanation_problem5"></span></li>
                    <li><span translation="explanation_problem2"></span></li>
                    <li><span translation="explanation_problem3"></span></li>
                    <li><span translation="explanation_problem4"></span></li>
                  </ol>
                </div>
              </div>

              <div class="tooltip">
                <label>
                  <input type="radio" ng-model="options.release_page" value="assignment"><span translation="assignment"></span>
                </label>
                <span>(<a href="blank_sample.zip"><span translation="sample"></span></a>)</span>
                <div class="tooltip">
                  <div translation="explanation"></div>
                  <ol>
                    <li><span translation="explanation_problem5"></span></li>
                    <li><span translation="explanation_problem6"></span></li>
                  </ol>
                </div>
              </div>
              <div>
                <ul>
                  <li><input type="text" ng-model="options.release_url" ng-disabled="options.release_page !== 'assignment'" style="width: 700px;"></li>
                  <li>
                    <span translation="example"></span>:
                    <input id="sample_url" type="text" value="file:///G:/Project/Google Chrome/Tab Memory Purge/blank_sample.html" disabled>
                  </li>
                </ul>
                <div style="margin-top: 1rem;">
                  <label>
                    <input type="checkbox" ng-model="options.no_release">&nbsp;<span translation="no_release"></span>
                  </label>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend translation="setTimerTitle"></legend>
              <input type="number" ng-model="options.timer" style="width: 75px;" min="1">&nbsp;<span translation="minute"></span>
            </fieldset>

            <fieldset>
              <legend>
                <span translation="exclude_url"></span>&nbsp;<button ng-click="showRegexTool()"><span translation="regex_tool"></span></button>
              </legend>
              <textarea ng-model="options.exclude_url" rows="8" cols="60" style="float: left;"></textarea>
              <div>
                <div translation="option"></div>
                <input type="checkbox" ng-model="options.regex_insensitive"><span translation="regex_confuse"></span>
              </div>
              <div style="clear: left;"></div>
            </fieldset>

            <fieldset>
              <legend translation="otherTitle"></legend>
              <div>
                <label><input type="checkbox" ng-model="options.enable_auto_purge"><span translation="remaiming_memory"></span></label>&nbsp;:&nbsp;<input type="number" ng-model="options.remaiming_memory" style="width: 50px;" min="1">&nbsp;M
              </div>
              <div>
                <label><span translation="max_history"></span></label>&nbsp;:&nbsp;<input type="number" ng-model="options.max_history" style="width: 50px;" min="1" max="365">&nbsp;Days
              </div>
              <div>
                <label><span translation="max_sessions"></span></label>&nbsp;:&nbsp;<input type="number" ng-model="options.max_sessions" style="width: 50px;" min="1">&nbsp;Sessions
              </div>
            </fieldset>
          </section>

          <!-- options of the keybind. -->
          <section class="keybind" ng-controller="keybindController">
            <fieldset>
              <legend translation="keybind"></legend>
              <table>
                <tr ng-repeat="item in keys" class="{{ item.name }}">
                  <td><span translation="{{ item.name }}"></span></td>
                  <td><button ng-click="setBind($event)">SET</button></td>
                  <td><input type="text" class="pressKey" disabled></input></td>
                  <td><button ng-click="clearBind($event)">CLEAR</button></td>
                  <td class="status" style="width: 100px; color: red"></td>
                </tr>
              </table>
            </fieldset>

            <fieldset>
              <legend>
                <span translation="keybind_exclude_url"></span>&nbsp;<button ng-click="showRegexTool()"><span translation="regex_tool"></span></button>
              </legend>
              <textarea ng-model="options.keybind_exclude_url" rows="8" cols="60" style="float: left;"></textarea>
              <div>
                <div translation="option"></div>
                <input type="checkbox" ng-model="options.keybind_regex_insensitive"><span translation="regex_confuse"></span>
              </div>
              <div style="clear: left;"></div>
            </fieldset>
          </section>

          <section class="history" ng-controller="historyController">
            <div>
              <input type="date" list="historyDates" ng-model="selectHistory">
              <datalist id="historyDates">
                <option ng-repeat="data in history | orderBy:'date':true">{{ data.date | date:'yyyy-MM-dd' }}</option>
              </datalist>
              <input type="text" ng-model="historyQuery" placeholder="Search the titie or the url." style="width: 300px;">
            </div>
            <fieldset ng-repeat="data in history | orderBy:'date':true" ng-show="showDate(data.date)">
              <legend>
                {{ data.date | date:'yyyy/MM/dd' }}
                <button ng-click="deleteHistory(data.date)" translation="delete"></button>
              </legend>
              <div ng-repeat="item in data.history | orderBy:'time':true | filter:historyQuery">
                <a href="#" ng-click="deleteHistoryItem(data.date, item)" style="margin-right: 1rem;">
                  <span style="position: relative; top: 0.3rem;">
                    <span class="delete_icon"></span>
                    <span class="delete_icon2"></span>
                  </span>
                </a>
                <span style="margin-right: 1rem;">{{ item.time | date: 'HH:mm:ss' }}</span>
                <a href="{{ item.url }}" target="_blank">
                  <img src="{{ item.iconDataURI }}" ng-show="item.iconDataURI !== underfined" style="width: 16px; height: 16px">{{ item.title }}</a>
              </div>
            </fieldset>
          </section>

          <section class="session_history" ng-controller="sessionHistoryController">
            <fieldset style="padding: 16px" ng-hide="options.savedSessions.length === 0">
              <legend>Saved Sessions</legend>
              <span ng-repeat="session in options.savedSessions | orderBy:'date':true" class="savedSession">
                <button class="savedBtn" ng-click="savedSessionClicked(session)">
                  {{ session.date | date:'yyyy/MM/dd' }}<br>
                  {{ session.date | date:'hh:mm:ss' }}
                </button>
              </span>
              <div style="padding: 10px 0 10px 0">
                <button translation="restore" ng-click="restored(showSavedSession)"></button>
                <button translation="delete" ng-click="deleteSavedSession(showSavedSession)"></button>
              </div>
              <div ng-repeat="(key, data) in showSavedSession.session">
                <div ng-show="data.iconDataURI !== undefined">
                  <a href="#" ng-click="deleteSavedSpecificSession(showSavedSession, key)">
                    <span style="position: relative; top: 0.5rem; left: -0.3rem;">
                      <span class="delete_icon"></span>
                      <span class="delete_icon2"></span>
                    </span>
                  </a>
                  <a href="{{ data.url }}" target="_blank" style="position: relative; left: 0.5rem;"><img src="{{ data.iconDataURI }}" style="width: 16px; height: 16px;">{{ data.title }}</a>
                </div>
                <div ng-show="data.iconDataURI == undefined">
                  <a href="#" ng-click="deleteSavedSpecificSession(showSavedSession, key)">
                    <span style="position: relative; top: 0.5rem; left: -0.3rem;">
                      <span class="delete_icon"></span>
                      <span class="delete_icon2"></span>
                    </span>
                  </a>
                  <a href="{{ data.url }}" target="_blank" style="position: relative; left: 0.5rem;">{{ data.url }}</a>
                </div>
              </div>
            </fieldset>

            <fieldset ng-repeat="sessions in sessionHistory | orderBy:'date':true">
              <legend>
                <span ng-show="options.currentSession === sessions.date">
                  <span ng-show="showOldRestoreTitle === true" translation="previous_session"></span>
                  <span ng-show="showOldRestoreTitle !== true" translation="current_session"></span>
                </span>
                <span ng-show="options.currentSession !== sessions.date">
                  {{ sessions.date | date:'yyyy/MM/dd hh:mm:ss' }}
                </span>
                <button translation="save" ng-click="saved(sessions)"></button>
                <button translation="delete" ng-click="deleted(sessions)"></button>
                <button translation="restore" ng-click="restored(sessions)"></button>
              </legend>
              <div ng-repeat="(key, data) in sessions.session">
                <div ng-show="data.iconDataURI !== undefined">
                  <a href="#" ng-click="deleteSpecificSession(sessions, key)">
                    <span style="position: relative; top: 0.5rem; left: -0.3rem;">
                      <span class="delete_icon"></span>
                      <span class="delete_icon2"></span>
                    </span>
                  </a>
                  <a href="{{ data.url }}" target="_blank" style="position: relative; left: 0.5rem;"><img src="{{ data.iconDataURI }}" style="width: 16px; height: 16px;">{{ data.title }}</a>
                </div>
                <div ng-show="data.iconDataURI === undefined">
                  <a href="#" ng-click="deleteSpecificSession(sessions, key)">
                    <span style="position: relative; top: 0.5rem; left: -0.3rem;">
                      <span class="delete_icon"></span>
                      <span class="delete_icon2"></span>
                    </span>
                  </a>
                  <a href="{{ data.url }}" target="_blank" style="position: relative; left: 0.5rem;">{{ data.url }}</a>
                </div>
              </div>
            </fieldset>
          </section>

          <section class="change_history" ng-controller="changeHistoryController">
            <div ng-repeat="data in changed">
              <h3>{{ data.dateVer }}</h3>
              <div ng-repeat="item in data.items" style="margin-left: 1.5rem;">
                {{ item }}
              </div>
            </div>
          </section>

          <section class="information">
            <h3><span translation="specification"></span></h3>
            <ul style="list-style-type: disc">
              <li><span translation="spec1"></span></li>
              <li><span translation="spec2"></span></li>
              <li><span translation="spec3"></span></li>
              <li>
                <div translation="spec4"></div>
                <ul>
                  <li><img src="icon/icon_019_use_exclude.png">&nbsp;<span translation="spec_icon_use"></span></li>
                  <li><img src="icon/icon_019_extension_exclude.png">&nbsp;<span translation="spec_icon_extension"></span></li>
                  <li><img src="icon/icon_019_temp_exclude.png">&nbsp;<span translation="spec_icon_temp"></span></li>
                  <li><img src="icon/icon_019.png">&nbsp;<span translation="spec_icon"></span></li>
                </ul>
              </li>
              <li><span translation="spec5"></span></li>
            </ul>

            <h3><span translation="feedback"></span></h3>
            <div><span translation="feedback_explanation"></span></div>
            <div><a href="https://chrome.google.com/webstore/support/aclmceilickagfkaddbiedcnccdkfafa" target="_blank"><span translation="feedback_send"></span></a></div>

            <h3><span translation="infomation_other"></span></h3>
            <div><a href="https://github.com/electron226/Tab-Memory-Purge" target="_blank"><span translation="source_code"></span></a></div>
          </section>
        </article>

        <footer ng-controller="storageController">
          <fieldset>
            <legend translation="operateTitle"></legend>
            <button ng-click="save()"><span translation="save"></span></button>
            <button ng-click="load()"><span translation="load"></span></button>
            <button ng-click="init()"><span translation="init"></span></button>
            <span id="status" style="color: green;"></span>
          </fieldset>

          <fieldset>
            <legend translation="operateSyncTitle"></legend>
            <button ng-click="syncSave()"><span translation="save"></span></button>
            <button ng-click="syncLoad()"><span translation="load"></span></button>
            <span id="status_sync" style="color: green;"></span>
          </fieldset>

          <fieldset>
            <legend translation="getSettings"></legend>
            <div>
              <button ng-click="export()"><span translation="export"></span></button>
              <button ng-click="import()"><span translation="import"></span></button>
              <span id="config_view_status" style="color: green;"></span>
            </div>
            <textarea id="config_view" cols="50" rows="5"></textarea>
          </fieldset>
        </footer>
      </div>
    </form>

    <!-- 正規表現確認ツール -->
    <div ng-controller="RegexToolController">
      <div>
        <button ng-click="showRegexTool()">x</button>
        <div translation="regex"></div>
        <input type="text" ng-model="regex.word" style="width: 400px;"><input type="checkbox" ng-model="regex.option"><span translation="regex_confuse"></span>
      </div>
      <div style="float: left;">
        <div translation="regex_compare_string"></div>
        <textarea ng-model="regex.target" style="width: 400px; height: 100px; resize: none;"></textarea>
      </div>
      <div>
        <div translation="regex_result"></div>
        <span ng-bind-html="regex.result" style="background-color: lightgray; position: absolute; width: 400px; height: 100px;"></span>
      </div>
      <div style="clear: float;"></div>

      <div style="float: left;">
        <fieldset ng-repeat="reg in regex">
          <legend translation="{{ reg.translationName }}"></legend>
          <table style="border-spacing: 0px;">
            <tr ng-repeat="items in reg.reference">
              <td ng-repeat-start="item in items" style="padding: 0 1rem;">{{ item.word }}</td>
              <td ng-repeat-end translation="{{ item.translationName }}"></td>
            </tr>
          </table>
        </fieldset>
      </div>
      <div style="clear: left;"></div>
    </div>

    <script type="text/javascript" src="src/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="src/lib/angular.min.js"></script>
    <script type="text/javascript" src="src/debug.js"></script>
    <script type="text/javascript" src="src/common.js"></script>
    <script type="text/javascript" src="src/common_func.js"></script>
    <script type="text/javascript" src="src/myCommon_angular.js"></script>
    <script type="text/javascript" src="src/options.js"></script>
  </body>
</html>
