.border0,
.sectionButton,
.historyField
{
    border: 0;
}

body,
input,
textarea,
button
{
    font-family: 'Meiryo UI', 'Meiryo', 'MS P Gothic', 'Osaka-Mono', 'Monospace', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;

    color: #212121;
}

ul
{
    margin: 0 1em;
    padding: 0;

    list-style: none;
}

.sectionButton
{
    width: 100%;
    padding: 1em 0;

    background-color: #03a9f4;
}

.sectionButton:hover,
.sectionButton.select
{
    background-color: #b3e5fc;
}

.sectionMenu
{
    width: 98%;
    margin: 0 auto;
    padding: 1em 0;

    background-color: #fff;
    box-shadow: 0 3px 3px 0 gray;
}

.doNotShow
{
    display: none;
}

.searchHistory
{
    width: 95%;
    margin: 0 auto;
}

.historyField
{
    margin: 1em 8px 0;
}

.historyStyle
{
    margin-bottom: 0.5em;
    padding: 0.3em;

    box-shadow: 0 0 1px 0 #212121;
}

.ellipsis_over,
.sessionHistoryItemList
{
    display: table;

    width: 99%;
    margin: auto 7px;

    table-layout: fixed;
}

.ellipsis_inner,
.sessionItem
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

input,
textarea
{
    border: thin solid #727272;
}

nav
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style-type: none;

    text-align: center;
}
nav li
{
    font-size: 14px;

    display: inline-block;

    width: 14%;

    text-align: center;
}

.sectionMenu li
{
    margin: 0.5em;
}

.keybindTitle
{
    display: inline-block;

    width: 300px;
}

.importAndExport ul
{
    font-size: 0;
}
.importAndExport li
{
    font-size: 14px;

    display: inline-block;

    width: 45%;
    height: 30em;
}
.importAndExport textarea
{
    width: 100%;
    height: 100%;
    margin-top: 0.5em;
}

.saveIcon
{
    transform: rotate(45deg);
}

.pageIcon
{
    position: relative;
    top: 3px;

    width: 16px;
    height: 16px;
}
